@inherits LayoutComponentBase
@inject GpdFrontEnd.Infraestructure.Session session
@inject IJSRuntime jsRunTime
@inject NavigationManager navigation

<BlazoredModal />

<div class="sidebar sidebar-out" style="width: auto; background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #007bff 100%)">
    <NavMenu />
</div>

<div class="main">

    <RadzenNotification />
    
    @if (navigation != null && navigation.Uri != null && navigation.BaseUri != null)
    {
        string conteudo = null;
        string uri = navigation.Uri.Replace(navigation.BaseUri, string.Empty);
        if (uri.StartsWith("usuario-consulta"))
        {
            conteudo = "Consulta de usuários";
        }
        else if (uri.StartsWith("usuario-cadastro"))
        {
            conteudo = "Cadastro de usuário";
        }
        else if (uri.StartsWith("unidade-medida-consulta"))
        {
            conteudo = "Consulta de unidade de medida";
        }
        else if (uri.StartsWith("unidade-medida-cadastro"))
        {
            conteudo = "Cadastro de unidade de medida";
        }
        else if (uri.StartsWith("nivel-organizacional-consulta"))
        {
            conteudo = "Consulta de nível organizacional";
        }
        else if (uri.StartsWith("nivel-organizacional-cadastro"))
        {
            conteudo = "Cadastro de nível organizacional";
        }
        else if (uri.StartsWith("projeto-consulta"))
        {
            conteudo = "Consulta de projeto";
        }
        else if (uri.StartsWith("projeto-cadastro"))
        {
            conteudo = "Cadastro de projeto";
        }
        else if (uri.StartsWith("indicador-consulta"))
        {
            conteudo = "Consulta de indicador";
        }
        else if (uri.StartsWith("indicador-cadastro"))
        {
            conteudo = "Cadastro de indicador";
        }
        else if (uri.StartsWith("projeto-estrutura-organizacional"))
        {
            conteudo = "Cadastro de estrutura organizacional de projeto";
            padding = "padding: 0 !important;";
        }
        else if (uri.StartsWith("indicador-lancamento"))
        {
            conteudo = "Lançamentos de valores de indicadores ";
        }
        else if (uri.StartsWith("indicador-importacao"))
        {
            conteudo = "Importação de valores de indicadores ";
        }
        else if (uri.StartsWith("dashboard"))
        {
            conteudo = "Painel de indicadores ";
            padding = "padding: 0 !important;";
        }

        if (conteudo != null)
        {
            <nav class="navbar navbar-default navbar-fixed-top" style="height:56px; background-image: linear-gradient(180deg, #1C6EA4 100%, #007bff 0%)">
                <div style="width: 100%; text-align: center">
                    <h4 style="color:white; margin-left: -30px; margin-top: 8px; font-weight: 500;">@conteudo</h4>
                </div>
            </nav>
        }
    }

    <div class="content px-4" style="@padding">
        @Body
    </div>
</div>

@code
{
    private string padding;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            padding = null;
        }
        
        await session.GetTokenAsync();
        await base.OnAfterRenderAsync(firstRender);
    }
}
