@inherits LayoutComponentBase
@inject GpdFrontEnd.Infraestructure.Session session
@inject IJSRuntime jsRunTime
@inject NavigationManager navigation

<div class="sidebar" style="width: auto; background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #007bff 100%)">
    <NavMenu />
</div>

<div class="main">

    <RadzenNotification />

    @if (navigation != null && navigation.Uri != null && navigation.BaseUri != null)
    {
        string conteudo = null;
        string uri = navigation.Uri.Replace(navigation.BaseUri, string.Empty);
        if (uri.StartsWith("usuario-consulta"))
        {
            conteudo = "Consulta de usuários";
        }
        else if (uri.StartsWith("usuario-cadastro"))
        {
            conteudo = "Cadastro de usuário";
        }
        else if (uri.StartsWith("unidade-medida-consulta"))
        {
            conteudo = "Consulta de unidade de medida";
        }
        else if (uri.StartsWith("unidade-medida-cadastro"))
        {
            conteudo = "Cadastro de unidade de medida";
        }
        else if (uri.StartsWith("nivel-organizacional-consulta"))
        {
            conteudo = "Consulta de nível organizacional";
        }
        else if (uri.StartsWith("nivel-organizacional-cadastro"))
        {
            conteudo = "Cadastro de nível organizacional";
        }

        if (conteudo != null)
        {
            <nav class="navbar navbar-default navbar-fixed-top" style="height:56px; background-image: linear-gradient(180deg, #1C6EA4 100%, #007bff 0%)">
                <div style="width: 100%; text-align: center">
                    <h4 style="color:white; margin-left: -30px; margin-top: 8px; font-weight: 500;">@conteudo</h4>
                </div>
            </nav>
        }
    }

    <div class="content px-4">
        @Body
    </div>
</div>

@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await session.GetTokenAsync();
        await base.OnAfterRenderAsync(firstRender);
    }
}
