@page "/"

<div class="row">
    <div class="col-sm-3">
        <div class="card text-white bg-primary mb-3" style="z-index:-1">
            <img class="card-img-top" src="imagens/gpd.jpg" alt="Imagem da página inicial">
            <div class="card-body">
                <h5 class="card-title">GPD</h5>
                <p class="card-text">Gerenciamento pelas diretrizes</p>
                <p class="card-text">@DateTime.Now.ToString("dd/MM/yyyy")</p>
            </div>
        </div>
    </div>
</div>
